doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet',href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  body
    .col-xs-8.col-xs-offset-2
      h1 Unix Timestamp Microservice
      h2 Instructions
      ol
        li Enter a Unix Timestamp in the following formats:
          ul
            li https://unix-timestamp-service.herokuapp.com/December%2015,%202015
            li https://unix-timestamp-service.herokuapp.com/1450137600
        li Receive the results in JSON:
          ul
            li { "unix": 1450137600, "natural": "December 15, 2015" }
