doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet',href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  body
    h1 Unix Timestamp Microservice
    h2 Instructions
    ol
      li Enter a Unix Timestamp in the following formats:
      li Receive the results in JSON.
